<!DOCTYPE html>

<body>
    <div style="height: auto;">
        <div class="row no-gutters">
            <div class="col-xl-2" style="max-width: 267px;"><div><div class="wrapper">

    {{!!-- Sidebar --}}
    <nav id="sidebar" style="font-weight: 600">
        <div class="sidebar-header">
            <img src="../../assets/img/zen-logo.png" style="width: 210px;"/>
        </div>

        <ul class="list-unstyled components">
            <li class="active">
                <a href="#">Dashboard</a>
            </li>
            <li>
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Trackers</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="salestracker.html">Sales Orders</a>
                    </li>
                    <li>
                        <a href="#">Payments</a>
                    </li>
                    <li>
                        <a href="purchtracker.html">Purchase Orders</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Reports</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="#">Sales</a>
                    </li>
                    <li>
                        <a href="#">Customer</a>
                    </li>
                    <li>
                        <a href="#">Website</a>
                    </li>
                </ul>
            </li>
             <li>
                <a href="#manSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Manage Inventory</a>
                <ul class="collapse list-unstyled" id="manSubmenu">
                    <li>
                        <a href="#">Products</a>
                    </li>
                    <li>
                        <a href="#">Categories</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Set Threshold</a>
            </li>
            <li>
                <a href="#">Log Out</a>
            </li>
        </ul>
    </nav>

    {{!-- Page Content --}}
    <div id="content">
        {{!-- We'll fill this with dummy content --}}
    </div>

</div>   </div></div>
            <div class="col">
                <div class="row" style="margin-left: 0px;margin-right: 0px;background-color: rgba(242,216,190,0.2);padding-top: 22px;margin-bottom: 0px;padding-bottom: 22px;">
                    <div class="col"><span style="font-weight: 600;color: #93623c;">Sales and Purchase Activity</span>
                        <div class="row text-center justify-content-center align-items-center" style="padding-bottom: 0px;padding-top: 10px;margin-top: 0px;">
                            <div class="col text-center align-self-center">
                                <a href="#">
                                    <div class="card" style="height: 103.333px;min-height: 103.333px;max-height: 103.333px;">
                                        <div class="card-body" style="padding-right: 18px;padding-left: 18px;">
                                            <h4 class="card-title" style="color: rgb(208,30,30);font-size: 29px;">40</h4>
                                            <h6 class="text-nowrap text-muted card-subtitle mb-2" style="font-size: 11px;">TO PURCHASE</h6>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col">
                                <a href="#">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4 class="card-title" style="color: rgb(222,191,28);font-size: 29px;">20</h4>
                                            <h6 class="text-muted card-subtitle mb-2" style="font-size: 11px;">TO RECEIVE</h6>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col">
                                <a href="#">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4 class="card-title" style="color: rgb(50,179,29);font-size: 29px;">15</h4>
                                            <h6 class="text-muted card-subtitle mb-2" style="font-size: 11px;">TO SHIP</h6>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col"><span style="font-weight: 600;color: #93623c;">Orders Summary</span>
                        <div class="row" style="padding-top: 10px;width: 564px;min-width: 564px;max-width: 564px;">
                            <div class="col" style="max-width: 279px;">
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-body" style="padding-top: 10px;padding-bottom: 3px;">
                                                <div class="d-flex flex-row flex-shrink-1 align-items-baseline">
                                                    <h6 style="width: 105px;">Tops</h6>
                                                    <div style="min-width: 120px;">
                                                        <h5 class="text-right" style="width: auto;">30</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col" style="padding-top: 9px;">
                                        <div class="card">
                                            <div class="card-body" style="padding-top: 10px;padding-bottom: 3px;">
                                                <div class="d-flex flex-row flex-shrink-1 align-items-baseline">
                                                    <h6 style="width: 105px;">Bottoms</h6>
                                                    <div style="min-width: 100px;">
                                                        <h5 class="text-right" style="width: auto;">30</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col" style="max-width: 279px;">
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-body" style="padding-top: 10px;padding-bottom: 3px;">
                                                <div class="d-flex flex-row flex-shrink-1 align-items-baseline">
                                                    <h6 style="width: 105px;">Sets</h6>
                                                    <div style="min-width: 120px;max-width: 120px;">
                                                        <h5 class="text-right" style="width: auto;">30</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col" style="padding-top: 9px;">
                                        <div class="card">
                                            <div class="card-body" style="padding-top: 10px;padding-bottom: 3px;">
                                                <div class="d-flex flex-row flex-shrink-1 align-items-baseline">
                                                    <h6 style="width: 105px;">Accessories</h6>
                                                    <div style="min-width: 103px;max-width: 103px;">
                                                        <h5 class="text-right" style="width: auto;max-width: none;">30</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: -1px;margin-right: 0px;margin-left: 0px;">
                    <div class="col">
                        <div class="d-flex justify-content-between align-items-center" style="text-align: right;font-size: 12px;"><span class="text-sm-center text-md-center text-lg-center text-xl-center" style="text-align: center;font-weight: 600;color: #93623c;">Sales Orders</span>
                            <div class="dropdown"><button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" id="dbweek-1" type="button" style="background: rgba(255,255,255,0.4);color: #000000;border-width: 0px;font-weight: 600;color: #93623c;font-size: 12px;">This Week</button>
                                <div
                                    class="dropdown-menu" style="min-width: 118px;width: 120px;margin-top: 0px;"><a class="dropdown-item" id="dbmonth-1" href="#" style="padding-left: 14px;font-size: 12px;">This Month</a><a class="dropdown-item" id="dbday-1" href="#" style="padding-left: 14px;font-size: 12px;">This Day</a><a class="dropdown-item"
                                        id="dbquarter-1" href="#" style="padding-left: 14px;font-size: 12px;">This Quarter</a></div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="table-responsive" style="font-size: 8px;margin-bottom: -15px;">
                            <table class="table">
                                <thead>
                                    <tr style="background: rgba(242,216,190,0.21);">
                                        <th>Category</th>
                                        <th>Pending</th>
                                        <th>Confirmed</th>
                                        <th>Cancelled</th>
                                        <th>Shipped</th>
                                        <th>Invoiced</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Text</td>
                                        <td>Text</td>
                                        <td>Text</td>
                                        <td>Text</td>
                                        <td>Text</td>
                                        <td>Text</td>
                                    </tr>
                                    <tr>
                                        <td>Text</td>
                                        <td>Text</td>
                                        <td>Text</td>
                                        <td>Text</td>
                                        <td>Text</td>
                                        <td>Text</td>
                                    </tr>
                                    <tr>
                                        <td>Text</td>
                                        <td>Text</td>
                                        <td>Text</td>
                                        <td>Text</td>
                                        <td>Text</td>
                                        <td>Text</td>
                                    </tr>
                                    <tr>
                                        <td>Text</td>
                                        <td>Text</td>
                                        <td>Text</td>
                                        <td>Text</td>
                                        <td>Text</td>
                                        <td>Text</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </a>
                    <div><span class="text-sm-center text-md-center text-lg-center text-xl-center" style="text-align: center;font-weight: 600;color: #93623c;font-size: 12px;">Cut-Off Dates</span></div>
                    <div class="table-responsive" style="font-size: 8px;margin-bottom: -20px;">
                        <table class="table">
                            <thead style="background: #f2d8be36;">
                                <tr>
                                    <th>Category</th>
                                    <th>Cut-Off</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Text</td>
                                    <td>Text</td>
                                </tr>
                                <tr>
                                    <td>Text</td>
                                    <td>Text</td>
                                </tr>
                                <tr>
                                    <td>Text</td>
                                    <td>Text</td>
                                </tr>
                                <tr>
                                    <td>Text</td>
                                    <td>Text</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col">
                    <div class="d-flex justify-content-between align-items-center" style="text-align: right;font-size: 12px;"><span class="text-sm-center text-md-center text-lg-center text-xl-center" style="text-align: center;font-weight: 600;color: #93623c;">Top Selling Items</span>
                        <div class="dropdown"><button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" id="dbweek" type="button" style="background: rgba(255,255,255,0.4);color: #000000;border-width: 0px;font-weight: 600;color: #93623c;font-size: 12px;">This Week</button>
                            <div
                                class="dropdown-menu" style="min-width: 100px;width: 120px;margin-top: 0px;"><a class="dropdown-item" id="dbmonth" href="#" style="padding-left: 14px;font-size: 12px;padding-right: 10px;">This Month</a><a class="dropdown-item" id="dbday" href="#" style="padding-left: 14px;font-size: 12px;padding-right: 10px;">This Day</a>
                                <a
                                    class="dropdown-item" id="dbquarter" href="#" style="padding-left: 14px;font-size: 12px;padding-right: 10px;">This Quarter</a>
                        </div>
                    </div>
                </div>
                <div class="card-deck" style="margin-top: 1px;">
                    <div class="card" style="height: 261px;min-height: 261px;"><img class="card-img-top w-100 d-block" src="../../assets/img/best-dummy1.jpg">
                        <div class="card-body" style="min-width: auto;">
                            <div class="text-center">
                                <h4 class="text-center">15</h4><span>pieces</span></div>
                        </div>
                    </div>
                    <div class="card" style="height: 261px;min-height: 261px;"><img class="card-img-top w-100 d-block" src="../../assets/img/best-dummy2.jpg">
                        <div class="card-body">
                            <div class="text-center">
                                <h4 class="text-center">10</h4><span>pieces</span></div>
                        </div>
                    </div>
                    <div class="card" style="height: 261px;min-height: 261px;"><img class="card-img-top w-100 d-block" src="../../assets/img/best-dummy3.jpg">
                        <div class="card-body">
                            <div class="text-center">
                                <h4 class="text-center">8</h4><span>pieces</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>

</body>