<!DOCTYPE html>

<body style="font-family: Helvetica neue, sans-serif;background: rgb(242,216,190);">
	<div class="container" style="width: 100%;max-width: 100%;padding: 0px 50px;">
		<section></section>
		<section>
			<div class="row d-xl-flex flex-wrap justify-content-xl-center">
				<!--FORM-->
				<div class="col-10 col-xl-7 d-block align-items-center align-content-center flex-nowrap" style="position: static;background: rgba(227,154,149,0);margin-top: 0px;padding: 0px;">
					<section style="margin-bottom: 75px;background: rgba(227,181,149,0.71);padding: 25px;">
						<form>
							<div class="form-row" style="margin: 0px;margin-bottom: 15px;">
								<div class="col" style="padding: 0px 10px;margin-top: -10px;">
									<p class="text-center" style="margin-bottom: 0px;margin-top: 30px;text-align: center;font-size: 30px;color: rgb(148,96,59);">
										<strong>Contact&nbsp;Details</strong>
									</p>
									<hr>
								</div>
							</div>
							<div class="form-row" style="margin: 0px;">
								<div class="col">
									<div class="form-row" style="margin-bottom: 15px;">
										<div class="col" style="padding: 0px 10px;">
											<p style="margin-bottom: 0px;">Complete Name</p>
											<!--NAME-->
											<input class="form-control" type="text">
										</div>
									</div>
								</div>
							</div>
							<div class="form-row" style="margin: 0px;">
								<div class="col">
									<div class="form-row" style="margin-bottom: 15px;">
										<div class="col" style="padding: 0px 10px;">
											<p style="margin-bottom: 0px;">Email</p>
											<!--EMAIL-->
											<input class="form-control" type="email">
										</div>
										<div class="col" style="padding: 0px 10px;">
											<p style="margin-bottom: 0px;">Phone Number (ex:&nbsp;<em>09123456789&nbsp;</em>)</p>
											<!--NUMBER-->
											<input class="form-control" type="email">
										</div>
									</div>
								</div>
							</div>
							<div class="form-row" style="margin: 0px;margin-bottom: 15px;">
								<div class="col" style="padding: 0px 10px;">
									<p class="text-center" style="margin-bottom: 0px;margin-top: 30px;text-align: center;font-size: 30px;color: rgb(148,96,59);">
										<strong>Shipping &amp;&nbsp;Payment</strong>
									</p>
									<hr>
								</div>
							</div>
							<div class="form-row" style="margin: 0px;margin-bottom: 15px;">
								<div class="col" style="padding: 0px 10px;">
									<p style="margin-bottom: 0px;">Complete Address</p>
									<!--ADDRESS-->
									<input class="form-control" type="text">
								</div>
							</div>
							<div class="form-row" style="margin: 0px;">
								<div class="col">
									<div class="form-row" style="margin-bottom: 15px;">
										<div class="col" style="padding: 0px 10px;">
											<p style="margin-bottom: 0px;">City</p>
											<!--CITY-->
											<input class="form-control" type="email">
										</div>
										<div class="col" style="padding: 0px 10px;">
											<p style="margin-bottom: 0px;">Area</p>
											<div class="dropdown">
												<!--AREA-->
												<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button" style="width: 100%;text-align: right;background: rgb(255,255,255);color: rgb(0,0,0);border-color: rgb(255,255,255);"></button>
												<div class="dropdown-menu" style="width: 100%;">
													<a class="dropdown-item" href="#">Metro Manila</a>
													<a class="dropdown-item" href="#">Luzon</a>
													<a class="dropdown-item" href="#">Visayas and Mindanao</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!--MODE OF PAYMENT-->
							<div class="form-row" style="margin: 0px;margin-bottom: 15px;">
								<div class="col" style="padding: 0px 10px;">
									<p style="margin-bottom: 0pc;">Mode of Payment</p>
									<div class="form-row">
										<div class="col d-xl-flex justify-content-xl-center align-items-xl-center">
											<div class="form-check d-xl-flex align-items-xl-center">
												<input class="form-check-input" type="radio" id="formCheck-1" name="modePay" value="paypal">
												<label class="form-check-label" for="formCheck-1">
													<img src="../../assets/img/paypal.png" style="height: 50px;">
												</label>
											</div>
										</div>
										<div class="col d-xl-flex justify-content-xl-center align-items-xl-center">
											<div class="form-check d-xl-flex align-items-xl-center">
												<input class="form-check-input" type="radio" id="formCheck-3" name="modePay" value="bdo">
												<label class="form-check-label" for="formCheck-1">
													<img src="../../assets/img/bdo.png" style="height: 40px;">
												</label>
											</div>
										</div>
										<div class="col d-xl-flex justify-content-xl-center align-items-xl-center">
											<div class="form-check d-xl-flex align-items-xl-center">
												<input class="form-check-input" type="radio" id="formCheck-4" name="modePay" value="gcash">
												<label class="form-check-label" for="formCheck-1">
													<img src="../../assets/img/gcash.png" style="height: 60px;margin-left: -11px;">
												</label>
											</div>
										</div>
									</div>
								</div>
							</div>
						</form>
					</section>
				</div>
				
				<div class="col-xl-2" style="max-width: 5%;"></div>
				
				<!-- ORDER SUMMARY -->
				<div class="col-xl-4" style="background: rgba(255,255,255,0);padding: 0px;">
					<div style="top: 30px;background: rgb(255,255,255);width: 100%;padding-top: 50px;padding-right: 30px;padding-left: 30px;padding-bottom: 50px;">
						<h1 style="margin: 0px;font-size: 20px;margin-bottom: 14px;text-align: center;">
							<strong>ORDER SUMMARY</strong>
						</h1>
						<hr>
						<div style="margin-bottom: 30px;margin-top: 30px;">
							<!-- PILI KA NALANG FORMAT HEHE -->
							<!--PER ITEM (1)-->
							<div class="row text-nowrap d-inline-flex d-xl-flex flex-nowrap justify-content-xl-center" style="margin: 0px;margin-top: 15px;margin-bottom: 15px;">
								<div class="col-xl-2" style="padding: 0px;">
									<img src="../../assets/img/IMG_2406.JPG" style="max-height: 60px;">
								</div>
								<div class="col-xl-7" style="padding-top: 1px;">
									<div>
										<h1 style="margin: 0px;font-size: 16px;">
											<strong>THRIVING - CODE</strong>
										</h1>
										<p style="margin: 0px;font-size: 12px;">Pink /&nbsp;Medium</p>
										<p style="margin: 0px;font-size: 12px;">Quantity: 1</p>
									</div>
								</div>
								<div class="col-xl-2" style="padding: 0px;">
									<h1 style="font-size: 16px;margin: 0px;text-align: center;">
										<strong>P 200</strong>
									</h1>
								</div>
							</div>
							<!--PER ITEM (2)-->
							<div class="row text-nowrap d-inline-flex d-xl-flex flex-nowrap justify-content-xl-center" style="margin: 0px;margin-top: 15px;margin-bottom: 15px;">
								<div class="col-xl-2" style="padding: 0px;">
									<img src="../../assets/img/IMG_3065.JPG" style="max-height: 60px;">
								</div>
								<div class="col-xl-7" style="padding-top: 1px;">
									<div>
										<h1 style="margin: 0px;font-size: 16px;">
											<strong>THRIVING - CODE</strong>
										</h1>
										<p style="margin: 0px;font-size: 12px;">Pink /&nbsp;Medium</p>
										<p style="margin: 0px;font-size: 12px;">Quantity: 1</p>
									</div>
								</div>
								<div class="col-xl-2" style="padding: 0px;">
									<h1 style="font-size: 16px;margin: 0px;">
										<strong>P 1200</strong>
									</h1>
								</div>
							</div>
						</div>
						<hr>
						<div class="flex-wrap" style="width: 100%;background: #f1f1f1;border-radius: 0px;padding: 15px;margin-top: 10px;">
							<div class="row d-inline-flex" style="width: 100%;margin: 0px;">
								<div class="col" style="width: 60%;">
									<p class="d-xl-flex justify-content-xl-start align-items-xl-end" style="margin: 0px;font-size: 20px;">SUBTOTAL</p>
								</div>
								<div class="col">
									<p class="d-xl-flex justify-content-xl-end align-items-xl-start" style="margin: 0px;font-size: 20px;text-align: right;">
										<!--SUBTOTAL-->
										<strong>P 3,000</strong>
									</p>
								</div>
							</div>
							<div class="row d-inline-flex" style="width: 100%;margin: 0px;">
								<div class="col" style="width: 60%;">
									<p style="margin-bottom: 0px;font-size: 16px;">Shipping fee</p>
								</div>
								<div class="col">
									<p class="d-xl-flex justify-content-xl-end align-items-xl-start" style="margin: 0px;font-size: 16px;text-align: right;">
										<!--SHIPPING: 80 if MM; otherwise 150-->
										<strong>80</strong>
									</p>
								</div>
							</div>
							<hr style="margin: 0px;margin-top: 10px;">
							<div class="row d-inline-flex" style="width: 100%;margin: 0px;margin-top: 10px;">
								<div class="col d-xl-flex align-items-xl-end" style="width: 60%;">
									<p class="d-xl-flex justify-content-xl-start align-items-xl-end" style="margin: 0px;font-size: 20px;">
										<strong>TOTAL</strong>
									</p>
								</div>
								<div class="col">
									<p class="d-xl-flex justify-content-xl-end align-items-xl-start" style="margin: 0px;font-size: 30px;text-align: right;">
										<!--TOTAL-->
										<strong>P 3,080</strong>
									</p>
								</div>
							</div>
						</div>
						<div style="margin-top: 40px;margin-bottom: 50px;">
							<p style="text-align: center;margin-bottom: 5px;">
								<strong>Note</strong>
							</p>
							<p style="text-align: center;">All items are for pre-order, which means it will take atleast 2 weeks for your orders to arrive. Thank you for understanding. Happy shopping!</p>
						</div>
						<a href="#">
							<button class="btn btn-primary d-xl-flex justify-content-xl-center align-items-xl-center" type="button" style="height: 60px;margin-top: 10px;width: 100%;color: rgb(242,216,190);background: rgb(148,96,59);font-size: 30px;border-style: none;padding: 5px;">
								<strong>PLACE ORDER</strong>
							</button>
						</a>
					</div>
				</div>
			</div>
		</section>
		<section class="d-inline-flex" style="margin-top: 20px;margin-bottom: 20px;">
			<div class="d-inline-flex"></div>
		</section>
		<div></div>
	</div>

</body>