<!DOCTYPE html>

<div class="col-xl-2" style="max-width: 267px; height: auto;">
	<div style="height: 100%" class="wrapper">
		<nav id="sidebar" style="font-weight: 600">
			<div class="sidebar-header"><a href="/">
				<img src="../../assets/img/zen-logo.png" style="width: 210px;"/>
			</a></div>

			<ul class="list-unstyled components">

				{{! Dashboard }}
				<li>
					<a href="/admin">Dashboard</a>
				</li>

				{{! Active Tab Trackers }}	
				<li class="active">
					<a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Trackers</a>
					<ul class="collapse list-unstyled" id="homeSubmenu">
						<li class="active">
							<a href="/salesOrders">Sales Orders</a>
						</li>
						<li>
							<a href="/purchaseOrders">Purchase Orders</a>
						</li>
					</ul>
				</li>

				{{! Reports }}	
				<li>
					<a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Reports</a>
					<ul class="collapse list-unstyled" id="pageSubmenu">
						<li>
							<a href="/salesreport">Sales</a>
						</li>
						<li>
							<a href="/custreport">Customer</a>
						</li>
						<li>
							<a href="/webreport">Website</a>
						</li>
					</ul>
				</li>

				{{! Manage Inventory }}
				<li>
					<a href="#manSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Manage Inventory</a>
					<ul class="collapse list-unstyled" id="manSubmenu">
						<li>
							<a href="/invProds">Products</a>
						</li>
						<li>
							<a href="/invCateg">Categories</a>
						</li>
					</ul>
				</li>

				{{! Set Threshold }}
				<li>
					<a href="/chooseThreshold">Set Threshold</a>
				</li>

				{{! Logout }}
				<li>
					<a href="#" onclick="callLogout();">Log Out</a>
				</li>
			</ul>
		</nav>
	</div>
</div>
