<div class="dropdown" id="actddown">
	<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" id="confirmactions" type="button" style="background: rgba(255,255,255,0);color: #000000;border-width: 0px;font-weight: 600;color: #93623c;font-size: 12px;">Choose</button>
	<div class="dropdown-menu" style="min-width: 62px;width: 91px;margin-top: 0px;">
		<a class="dropdown-item" id="actpurch" href="#" style="padding-left: 7px;font-size: 12px;padding-right: 5px;">View</a>
		<a class="dropdown-item" id="actpurch" href="#" style="padding-left: 7px;font-size: 12px;padding-right: 5px;">Purchase</a>
		<a class="dropdown-item" id="actcancel1" href="#" style="padding-left: 7px;font-size: 12px;padding-right: 5px;">Cancel 1</a>
	</div>
</div>
