<tr style="font-size: 11px;background: rgba(0,0,0,0);">
    <td id="custDetName"> Julia Estella </td>
	<td id="custDetEmail"> julia@gmail.com </td>
    <td id="custDetCount" style="width: 128px;"> 5 </td>
</tr>