<tr style="font-size: 11px;background: rgba(0,0,0,0);">
    <td id="custDetName"> {{completeName}} </td>
	<td id="custDetEmail"> {{email}} </td>
    <td id="custDetCount" style="width: 128px;"> {{ordCount}} </td>
</tr>