<div class="dropdown">
	<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" id="dbweek-13" type="button"
			style="background: rgba(255,255,255,0);color: #000000;border-width: 0px;font-weight: 600;color: #93623c;font-size: 12px;"disabled="">
		Choose
	</button>
</div>
