<tr style="font-size: 11px;background: {{{getSalesStyle status}}}">
    <td>{{buyOrdNo}}</td>
    <td>Yoga Mat</td>
    <td>Accessories</td>
    <td>M</td>
    <td>Gray</td>
    <td class="text-right">2</td>
    <td class="text-right">585.00</td>
    <td class="text-right">1170.00<br></td>
    <td>{{status}}</td>
	{{! REMARKS: Where the Cancel Reason will be placed }}
    <td></td>
</tr>
