<tr style="font-size: 11px;background: #b3ffb2;">
    <td id="myOrdNo">20200912345</td>
    <td id="myOrdProdName">Yoga Mat<br></td>
    <td id="myOrdCateg">Accessories<br></td>
    <td id="myOrdSize>M</td>
    <td class="text-left" id="myOrdColor">Gray</td>
    <td class="text-right" id="myOrdQty>2</td>
    <td class="text-right" id="myOrdUnit">585.00</td>
    <td class="text-right" id="myOrdTotal">1170.00<br></td>
    <td id="myOrdStatus">Confirmed</td>
	{{! REMARKS: Where the Cancel Reason will be placed }}
    <td id="myOrdRemarks"></td>
</tr>