<div class="text-center">
	<nav class="navbar navbar-light navbar-expand-md fixed-top navbar-transparency" style="background-color: rgb(255,255,255);min-height: 70px;box-shadow: 0px 0px 1px;">
		<div class="container">
		
			<!-- sidenav icon -->
			<div class="text-left">
				<div>
					<a class="btn" onclick="openNav()"><i class="icon ion-android-menu"></i></a>
				</div>
				
				<div id="mySideNav" class="sidenav">
					<a class="closebtn" onclick="closeNav()"><i class="icon ion-android-close"></i></a>
					<div> 
						<input type="text" placeholder="Search.." name="homeSearch"> 
						<a href="#" class="searchbtn" onclick="search()"> <i class="fa fa-search"></i> </a>
					</div>
					<a href="/">Home</a>
					<a href="tops.html">Tops</a>
					<a href="bottoms.html">Bottoms</a>			
					<a href="sets.html">Sets</a>
					<a href="vieworder.html">View Order</a>
				</div>
			</div>
			
			<!-- logo -->
			<div>
				<a href="/"><img src="assets/img/zen-logo.png" style="width: 230px;"></a>
			</div>
			
			<!-- cart icon -->
			<div>
				<div>
					<a href="cart.html" class="btn"><i class="icon ion-bag"></i>
						<span class='badge badge-warning' id='lblCartCount'></span>
					</a>
				</div>
			</div>
			
		</div>
	</nav>
</div>