<div class="text-center">
	<nav class="navbar navbar-light navbar-expand-md fixed-top navbar-transparency" style="background-color: rgb(255,255,255);min-height: 70px;box-shadow: 0px 0px 1px;">
		<div class="container">
		
			<!-- sidenav icon -->
			<div class="text-left">
				<div>
					<a class="btn" onclick="openNav()"><i class="icon ion-android-menu"></i></a>
				</div>
				
				<div id="mySideNav" class="sidenav">
					<a class="closebtn" onclick="closeNav()"><i class="icon ion-android-close"></i></a>
					<div> 
						<input type="text" placeholder="Search..." name="homeSearch"> 
						<a class="searchbtn"><i class="fa fa-search"></i></a>
					</div>
					<a href="/">Home</a>
					<a href="/category/Tops">Tops</a>
					<a href="/category/Bottoms">Bottoms</a>			
					<a href="/category/Sets">Sets</a>
					<a href="vieworder.html">View Order</a>
				</div>
			</div>
			
			<!-- logo -->
			<div>
				<a href="/"><img src="../../assets/img/zen-logo.png" style="width: 230px;"></a>
			</div>
			
			<!-- cart icon -->
			<div>
				<div>
					<!--<a href="/bag" class="btn">-->
					<a class="btn" onclick="getBag()">
						<!-- actually i'm considering changing the above anchor tag
							probably something like
							<a class="btn" onclick="getBag()">
							then function will perform an XHR request, so that the
							rendering will be done in the backend instead of front?
						-->
						<i class="icon ion-bag"></i>
						<span class='badge badge-warning' id='lblCartCount'></span>
					</a>
				</div>
			</div>
			
		</div>
	</nav>
</div>
