<div class="dropdown">
	<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" id="pendactions" type="button" style="background: rgba(255,255,255,0);color: #000000;border-width: 0px;font-weight: 600;color: #93623c;font-size: 12px;">Choose</button>
    <div class="dropdown-menu" style="min-width: 62px;width: 91px;margin-top: 0px;">
		<a class="dropdown-item" id="actproof" href="#" style="padding-left: 7px;font-size: 12px;padding-right: 5px;">View Proof</a>
		<a class="dropdown-item" id="actcancel1" href="#" style="padding-left: 7px;font-size: 12px;padding-right: 5px;">Cancel 1</a>
        <a class="dropdown-item" id="actcancel2" href="#" style="padding-left: 7px;font-size: 12px;padding-right: 5px;">Cancel 2</a>
    </div>
</div>