<div style="padding-left: 75px;margin-bottom: 5px;">
	<img style="max-width: 100px;max-height: 100px;width: 100px;height: 100px;" src="assets/img/best-dummy1.jpg">
	<button class="btn btn-primary" type="button" style="color: #000000;border-width: 0px;font-weight: 600;color: #93623c;font-size: 10px;background: #f2d8be;margin: 0px;margin-bottom: 0px;margin-top: 0px;margin-left: 24px;">Remove</button>
</div>