<div class="dropdown" id="purchddown">
	<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" id="purchpendacts" type="button" style="background: rgba(255,255,255,0);color: #000000;border-width: 0px;font-weight: 600;color: #93623c;font-size: 12px;">Choose</button>
	<div class="dropdown-menu" style="min-width: 62px;width: 91px;margin-top: 0px;">
		<a class="dropdown-item" id="actcomplete" href="#" style="padding-left: 7px;font-size: 12px;padding-right: 5px;">Complete</a>
		<a class="dropdown-item" id="actinc" href="#" style="padding-left: 7px;font-size: 12px;padding-right: 5px;">Incomplete</a>
		<a class="dropdown-item" id="actpurchcancel" href="#" style="padding-left: 7px;font-size: 12px;padding-right: 5px;">Cancelled</a>
	</div>
</div>