<select class="actions" style="background: rgba(255,255,255,0);border-width: 0px;font-weight: 600;color: #93623c;font-size: 12px;width: 75px;margin-top: 11px;">
	<option value="0">Choose</option>
	<option value="View">View</option>
	<option value="2">Ship</option>
	<option value="Cancel3">Cancel 3</option>
</select>
