<div class="dropdown">
	<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" id="intranactions" type="button" style="background: rgba(255,255,255,0);color: #000000;border-width: 0px;font-weight: 600;color: #93623c;font-size: 12px;">Choose</button>
    <div class="dropdown-menu" style="min-width: 62px;width: 91px;margin-top: 0px;">
		<a class="dropdown-item" id="actship" href="#" style="padding-left: 7px;font-size: 12px;padding-right: 5px;">Ship</a>
		<a class="dropdown-item" id="actcancel3" href="#" style="padding-left: 7px;font-size: 12px;padding-right: 5px;">Cancel 3</a>
	</div>
</div>