<tr style="font-size: 11px;background: rgba(0,0,0,0);">
    <td id="viewCustDate"> 09/20/20 </td>
	<td id="viewCustOrd"> <a href=""> 20200912345 </a> </td> {{! should navigate to viewsalesorder }}
    <td id="viewCustTotal" style="width: 128px;"> 4,500.00 </td>
</tr>