<tr style="font-size: 11px;background: rgba(0,0,0,0);">
    <td id="webProdImg"><img style="min-width: 80px;max-width: 80px;height: 80px;min-height: 80px;max-height: 80px;" src="assets/img/best-dummy2.jpg"></td>
    <td id="webProdID">20200912345</td>
    <td id="webProdName" style="width: 128px;">Powerful></td>
    <td class="text-break" id="webProdCateg">Tops, Linen, Stretch, Sweat</td>
    <td class="text-left" id="webProdColor">Green</td>
    <td class="text-right" id="webProdSize">M</td>
    <td class="text-right" id="webProdPrice">585.00</td>
    <td class="text-right" id="webProdViews>10<</td>
    <td class="text-right" id="webSalesCount">8></td>
    <td class="text-right" id="webConvRate">10</td>
</tr>