<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<title>{{title}}</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
	<link rel="stylesheet" href="./assets/fonts/font-awesome.min.css">
	<link rel="stylesheet" href="./assets/fonts/ionicons.min.css">
	<link rel="stylesheet" href="./assets/css/Fixed-navbar-starting-with-transparency-1.css">
	<link rel="stylesheet" href="./assets/css/Fixed-navbar-starting-with-transparency.css">
	<link rel="stylesheet" href="./assets/css/Footer-Clean.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
	<link rel="stylesheet" href="./assets/css/Registration-Form-with-Photo.css">
	<link rel="stylesheet" href="./assets/css/styles.css">
</head>

<body>
	{{{ body }}}
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script src="./assets/js/scripts.js"></script>

	<!-- footer -->
	<div class="footer-clean">
		<footer>
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-sm-4 col-md-3 item">
						<h3>Categories</h3>
							<ul>
								<li href="tops.html"><a href="#">Tops</a></li>
								<li><a href="bottoms.html">Bottoms</a></li>
								<li><a href="sets.html">Sets</a></li>
							</ul>
					</div>
					<div class="col-sm-4 col-md-3 item">
						<h3>Services</h3>
						<ul>
							<li><a href="#">FAQs</a></li>
							<li><a href="#">Track Order</a></li>
							<li><a href="#">Order Status</a></li>
						</ul>
					</div>
					<div class="col-sm-4 col-md-3 item">
						<h3>&nbsp; &nbsp;</h3>
						<ul>
							<li><a href="#">Size Guides</a></li>
							<li><a href="#">Return Policies</a></li>
							<li><a href="#">Contact Us</a></li>
						</ul>
					</div>
					<div class="col-lg-3 item social">
						<a href="https://instagram.com/zenactiveph"><i class="icon ion-social-instagram"></i></a>
						<p class="copyright">ZenActivePH © 2020</p>
					</div>
				</div>
			</div>
		</footer>
	</div>
</body>

</html>