<!DOCTYPE html>
<div style="height: auto;">
	<div class="row no-gutters" style="height: auto;">
		{{> admin-sidebar}}

		<div class="col" style="height: auto;">
			<div class="d-flex justify-content-between align-items-center" style="text-align: right;font-size: 12px;padding-right: 3px;padding-left: 14px;margin-bottom: 6px;margin-top: 6px;">
				<span class="text-sm-center text-md-center text-lg-center text-xl-center" style="text-align: center;font-weight: 600;color: #93623c;font-size: 20px;">Add New Product</span>
			</div>

			<form id="addProdForm">
				<div style="margin-top: 29px;padding-left: 15px;">
					<div class="d-flex flex-column">
						<span style="font-weight: 600;color: #93623c;">Product Description</span>
						<span style="font-size: 14px;color: rgb(238,19,19);">Fields with * are required.</span>
					</div>

					<div style="margin-top: 23px;">
						<div class="form-group" style="margin-bottom: 0px;margin-top: 10px;">
							<label style="width: 167px;color: rgb(238,19,19);">Product Name *</label>
							<input name="pname" type="text" style="margin-left: 0px;" placeholder="Product Name">
						</div>

						<div class="form-group d-flex" style="margin-bottom: 0px;margin-top: 10px;">
							<label style="width: 167px;color: rgb(238,19,19);">Category *</label>

							<select name="pcateg" style="background: rgba(255,255,255,0);color: #000000;border-width: 1px;font-weight: 600;color: #93623c;font-size: 12px;width: 252px;">
								<option value="0">Choose Category</option>
								<option value="Tops">Tops</option>
								<option value="Bottoms">Bottoms</option>
								<option value="Sets">Sets</option>
								<option value="Accessories">Accessories</option>
							</select>
						</div>

						<div class="form-group" style="margin-bottom: 0px;margin-top: 10px;">
							<label style="width: 167px;color: rgb(238,19,19);">Size *</label>
							<input name="psize" type="text" style="margin-left: 0px;" placeholder="Size">
						</div>

						<div class="form-group" style="margin-bottom: 0px;margin-top: 10px;">
							<label style="width: 167px;color: rgb(238,19,19);">Color *</label>
							<input name="pcolor" type="text" style="margin-left: 0px;" placeholder="Color">
						</div>

						<div class="form-group" style="margin-bottom: 0px;margin-top: 10px;">
							<label style="width: 167px;color: rgb(238,19,19);">Price *</label>
							<input name="pprice" type="text" style="margin-left: 0px;" placeholder="Price" inputmode="numeric">
						</div>
					</div>
				</div>

				<div style="margin-top: 29px;padding-left: 15px;">

					<div class="d-flex flex-column">
						<span style="font-weight: 600;color: #93623c;">Product Image</span>
						<span style="font-size: 14px;color: rgb(238,19,19);"></span>
					</div>

					<div style="margin-top: 23px;">
						<div class="form-group" style="margin-bottom: 0px;margin-top: 10px;">
							<label style="width: 167px;color: rgb(238,19,19);">Upload Image *</label>
							<input type="text" name="plink1" placeholder="Input Image Link" style="width: 310px;" inputmode="url">
						</div>

						<div class="form-group" style="margin-bottom: 0px;margin-top: 10px;">
							<label style="width: 167px;color: rgb(238,19,19);">Upload Image&nbsp;</label>
							<input type="text" name="plink2" placeholder="Input Image Link" style="width: 310px;" inputmode="url">
						</div>

						<div class="form-group" style="margin-bottom: 0px;margin-top: 10px;">
							<label style="width: 167px;color: rgb(238,19,19);">Upload Image&nbsp;</label>
							<input type="text" name="plink3" placeholder="Input Image Link" style="width: 310px;" inputmode="url">
						</div>
					</div>
				</div>
			</form>
			<button class="btn btn-primary" type="button" id="addProdBtn" style="color: #000000;border-width: 0px;font-weight: 600;color: #93623c;font-size: 16px;background: #f2d8be;margin: 0px;margin-bottom: 0px;margin-top: 31px;margin-left: 15px;">Add New Product</button>
		</div>
	</div>
</div>
