{{> navbar }}

{{! Header }}
<div class="text-center">
	<div class="container" style="margin-right: 0px;margin-left: 0px;padding-right: 0px;padding-left: 0px;position: relative;text-align: center;max-width: 1366px;">
		<img class="img-fluid" data-bs-hover-animate="pulse" src="assets/img/home-header.PNG" style="width: 1366px;margin-bottom: 30px;">
		<span data-bs-hover-animate="pulse" style="position: absolute;top: 30%;left: 26%;font-family: Helvetica neue, sans-serif;font-size: 3vw;font-weight: 700;color: white;">
			Get active and sweaty<br>with style and comfort
		</span>
	</div>
</div>
	
{{! category buttons }}
<div>
	<div class="row text-center" style="margin-right: 0px;margin-left: 0px;margin-bottom: 20px;margin-top: 20px;font-size: 2vw;background-color: rgba(255,255,255,0.6);padding-top: 10px;padding-bottom: 10px;font-family: Helvetica Neue, sans-serif;">
		<div class="col" data-bs-hover-animate="pulse" style="margin-left: -25px;">
			<a href="#" style="color: #93623c;font-weight: 600;">TOPS</a>
		</div>
		<div class="col" data-bs-hover-animate="pulse">
			<a href="#" style="color: #93623c;font-weight: 600;">BOTTOMS</a>
		</div>
		<div class="col" data-bs-hover-animate="pulse">
			<a href="#" style="color: #93623c;font-weight: 600;">SETS</a>
		</div>
		<div class="col" data-bs-hover-animate="pulse">
			<a href="#" style="color: #93623c;font-weight: 600;">ACCESSORIES</a>
		</div>
	</div>
</div>

{{! featured items }}
<div>
	<div class="row text-left" style="margin-right: 0px;margin-left: 0px;font-size: 1vw;font-family: Helvetica Neue, sans-serif;margin-top: 50px;padding-left: 5px;margin-bottom: 50px;">
		<div class="col" style="margin-left: -5px;">
			<a class="text-center" href="#"><img class="img-fluid" data-bs-hover-animate="pulse" src="assets/img/home-bot.JPG" style="width: 400px;margin-bottom: 10px;"></a>
			<span class="text-center" style="color: #93623c;font-weight: 700;margin-top: 0px;">PASSIONATE</span>
		</div>
		<div class="col">
			<a href="#"><img class="img-fluid" data-bs-hover-animate="pulse" src="assets/img/home-top.JPG" style="width: 400px;margin-bottom: 10px;"></a>
			<span class="text-center" style="color: #93623c;font-weight: 700;">POWERFUL</span>
		</div>
		<div class="col">
			<a href="#"><img class="img-fluid" data-bs-hover-animate="pulse" src="assets/img/home-set.JPG" style="width: 400px;margin-bottom: 10px;"></a>
			<span class="text-center" style="color: #93623c;font-weight: 700;">MOTIVATED</span>
		</div>
	</div>
</div>

{{! shop now block }}
<div>
	<div class="container" style="margin-right: 0px;margin-left: 0px;padding-right: 0px;padding-left: 0px;position: relative;text-align: center;max-width: 1366px;">
		<img class="img-fluid" src="assets/img/home-shopnow.PNG" style="width: 1366px;">
		<span style="position: absolute;top: 30%;left: 23%;font-family: Helvetica neue, sans-serif;font-size: 3vw;font-weight: 700;color: white;">Feel peaceful and relaxed<br>with ZenActive</span>
		<button class="btn btn-primary" data-bs-hover-animate="pulse" id="shopnow" type="button" style="position: absolute;top: 50%;left: 40%;font-family: Helvetica neue, sans-serif;font-size: 1.5vw;font-weight: 600;color: white;background-color: rgba(227,181,149,0.71);border-width: 0px;height: 41px;width: 221px;">Shop Now</button>
	</div>
</div>
