<div class="register-photo" style="height: 619px;">
        <div class="form-container" style="margin-top: 50px;">
            <div class="image-holder" style="width: 500px;height: 340px;"></div>
            <form method="post">
                <h2 class="text-center"><strong>Login</strong> as admin.</h2>
				
				{{! Username }}
                <div class="form-group">
					<input class="form-control" type="text" id="usernameLogin" name="username" placeholder="Username">
				</div>
				
				{{! Password }}
                <div class="form-group">
					<input class="form-control" type="password" id="passwordeLogin" name="password" placeholder="Password">
				</div>
				
				{{! Button }}
                <div class="form-group">
					<button class="btn btn-primary btn-block" id="submitLogin" type="submit">Login</button>
				</div>
            </form>
        </div>
</div>