<div style="height: auto;">
	<div class="row no-gutters">

		{{> admin-sidebar }}
		
	{{! CONTENT }}
		<div class="col" style="max-height: 100vh;">
		
			{{! HEADER }}
			<div class="d-flex justify-content-between align-items-center" style="text-align: right;font-size: 12px;padding-right: 3px;padding-left: 14px;">
				<span class="text-sm-center text-md-center text-lg-center text-xl-center" style="text-align: center;font-weight: 600;color: #93623c;">Sales Orders</span>
				{{! SEARCH BAR }}
				<div class="d-flex">
					<input type="search" placeholder="Search Order Number" autocomplete="on" style="margin-right: 7px;">
					<div>
						<a href="#" class="searchbtn" onclick="search()"><i class="fa fa-search"></i></a>
					</div>
				</div>
				
				{{! DATE PICKER }}
				<input id="sdate" type="date" style="font-weight: 600;color: #93623c;border-width: 0px;">
				
				{{! SHOW BY DROPDOWNS }}
				<div class="d-flex align-items-center align-content-center">
					<span class="text-sm-center text-md-center text-lg-center text-xl-center" style="text-align: center;font-weight: 600;color: #93623c;">Show by:</span>
					{{! BY CATEGORY }}
					<div class="dropdown">
						<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" id="sortcateg" type="button" style="background: rgba(255,255,255,0.4);color: #000000;border-width: 0px;font-weight: 600;color: #93623c;font-size: 12px;">Category</button>
							<div class="dropdown-menu" style="min-width: 118px;width: 120px;margin-top: 0px;">
								<a class="dropdown-item" id="sorttops" href="#" style="padding-left: 14px;font-size: 12px;">Tops</a>
								<a class="dropdown-item" id="sortbots" href="#" style="padding-left: 14px;font-size: 12px;">Bottoms</a>
								<a class="dropdown-item" id="sortsets" href="#" style="padding-left: 14px;font-size: 12px;">Sets</a>
								<a class="dropdown-item" id="sortaccs" href="#" style="padding-left: 14px;font-size: 12px;">Accessories</a>
							</div>
					</div>
					
					{{! BY STATUS }}
					<div class="dropdown">
						<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" id="sortstat" type="button" style="background: rgba(255,255,255,0.4);color: #000000;border-width: 0px;font-weight: 600;color: #93623c;font-size: 12px;">Status</button>
							<div class="dropdown-menu" style="min-width: 118px;width: 120px;margin-top: 0px;">
								<a class="dropdown-item" id="sortpend" href="#" style="padding-left: 14px;font-size: 12px;">Pending</a>
								<a class="dropdown-item" id="sortintrans" href="#" style="padding-left: 14px;font-size: 12px;">In Transit</a>
								<a class="dropdown-item" id="sortconf" href="#" style="padding-left: 14px;font-size: 12px;">Confirmed</a>
								<a class="dropdown-item" id="sortcanc" href="#" style="padding-left: 14px;font-size: 12px;">Cancelled</a>
							</div>
					</div>
					
					{{! BY MOP }}
					<div class="dropdown">
						<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" id="sortmop" type="button" style="background: rgba(255,255,255,0.4);color: #000000;border-width: 0px;font-weight: 600;color: #93623c;font-size: 12px;">MOP</button>
							<div class="dropdown-menu" style="min-width: 118px;width: 120px;margin-top: 0px;">
								<a class="dropdown-item" id="sortmop1" href="#" style="padding-left: 14px;font-size: 12px;">PayPal</a>
								<a class="dropdown-item" id="sortmop2" href="#" style="padding-left: 14px;font-size: 12px;">BDO</a>
								<a class="dropdown-item" id="sortmop2" href="#" style="padding-left: 14px;font-size: 12px;">GCash</a>
							</div>
					</div>
				</div>
				
				{{! BUTTONS }}
				{{! Without show status, purchase all and ship all button should be disabled }}
				{{! If show all confirmed status: enable purchase all, disable ship all }}
				{{! If show all in transit status: enable ship all, disable purchase all }}
				<div>
					{{! PURCHASE ALL }}
					<button class="btn btn-primary" id="purchall" type="button" style="font-size: 12px;background: rgba(0,0,0,0);font-weight: 600;color: #93623c;border-width: 0px;" disabled="">Purchase All</button>
					{{! SHIP ALL }}
					<button class="btn btn-primary" id="shipall" type="button" style="font-size: 12px;background: rgba(0,0,0,0);font-weight: 600;color: #93623c;border-width: 0px;" disabled="">Ship All</button>
				</div>
			</div>
			
			{{! TABLE }}
			{{! If status is cancelled/shipped: action dropdown is disabled }}
			{{! If status is confirmed: actions are: purchase, cancel 1 }}
			{{! If status is pending: actions are: view proof, cancel 1, cancel 2 }}
			{{! If status is in transit: actions are: ship, cancel 3 }}
			{{! If status is cancelled/shipped: disable actions }}
			{{! cancel 1: out of stock sa supplier }}
			{{! cancel 2: wrong payment details }}
			{{! cancel 3: unable to deliver }}
			
			<div>
				<div class="table-responsive" style="max-height: 100vh;min-height: 100vh;margin-bottom: -15px;">
					<table class="table">
					{{! TABLE HEADER }}
						<thead style="font-size: 10px;">
							<tr style="background-color: rgba(242,216,190,0.2);">
								<th style="width: 110px;">Order No.</th>
								<th style="width: 111px;">Product Name</th>
								<th style="width: 104px;">Category</th>
								<th style="width: 61px;">Size</th>
								<th class="text-left" style="width: 91px;">Color</th>
								<th class="text-right" style="width: 61px;">Quantity</th>
								<th class="text-right" style="width: 98px;">Unit Price</th>
								<th class="text-right" style="width: 105px;">Total</th>
								<th style="width: 69px;">MOP</th>
								<th style="width: 80px;">Proof</th>
								<th>Status</th>
								<th>Action</th>
							</tr>
						</thead>
					
					{{! TABLE BODY }}
						<tbody>
							{{> salesrow}}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
