<!DOCTYPE html>

<div style="height: auto;">
	<div class="row no-gutters" style="height: auto">

		{{> admin-sidebar }}
		{{> filters }}

		<div class="col" style="height: auto;">

			{{! SUMMARY CARDS }}
			<div class="d-flex justify-content-between" style="max-width: 969.333px;">

				{{! TOTAL SALES }}
				<div class="card" style="height: 46px;width: 170px;font-size: 10px;">
					<div class="d-flex flex-row flex-fill justify-content-between align-items-center align-content-end">
						<span style="max-width: 40px;color: #93623c;"><strong>Total Sales</strong></span>
						<span id="repTotalSales" style="width: 118px;max-width: 118px;text-align: right;font-size: 12px;">1,400,000.00</span>
					</div>
				</div>

				{{! AVE SALES }}
				<div class="card" style="height: 46px;width: 170px;font-size: 10px;">
					<div class="d-flex flex-row flex-fill justify-content-between align-items-center align-content-end">
						<span style="max-width: 59px;color: #93623c;"><strong>Average Sales</strong></span>
						<span id="repAveSales" style="text-align: right;width: 106px;max-width: 106px;font-size: 12px;">1,400,000.00<br></span>
					</div>
				</div>

				{{! SALES COUNT }}
				<div class="card" style="height: 46px;width: 170px;font-size: 10px;">
					<div class="d-flex flex-row flex-fill justify-content-between align-items-center align-content-end">
						<span style="max-width: 41px;color: #93623c;"><strong>Sales Count</strong></span>
						<span id="repSalesCnt" style="width: 117px;max-width: 117px;text-align: right;font-size: 12px;">100,000,000<br></span>
					</div>
				</div>
			</div>

			{{! HEADER }}
			<div class="d-flex justify-content-between align-items-center" style="text-align: right;font-size: 12px;padding-right: 3px;padding-left: 14px;margin-top: 0px;padding-top: 13px;padding-bottom: 13px;">

				{{! TITLE AND DATE AND TIMESTAMP }}
				<div>
					<span class="text-sm-center text-md-center text-lg-center text-xl-center" style="text-align: center;font-weight: 600;color: #93623c;">Sales Report</span>
					<span class="text-sm-center text-md-center text-lg-center text-xl-center" style="text-align: center;font-weight: 600;color: #93623c;padding-left: 10px;">{{getDateNow}}</span>
				</div>

				{{! SEARCH BAR }}
				<div class="d-flex">
					<input type="search" id="salesSearch" placeholder="Search Product" autocomplete="on" style="margin-right: 7px;">
					<div><a href="#" class="searchbtn" onclick="search()"> <i class="fa fa-search"></i> </a></div>
				</div>

			</div>

			{{! TABLE }}
			<div style="height: auto;">
				<div class="table-responsive" style="max-height: auto;margin-bottom: -15px;height: auto;min-height: auto;">
					<table class="table">
						<thead style="font-size: 10px;">
							<tr style="background-color: rgba(242,216,190,0.2);">
								<th style="width: 54px;">Image</th>
								<th style="width: 78px;">Product ID</th>
								<th style="width: 130px;">Product Name</th>
								<th style="width: 96px;">Category</th>
								<th style="width: 61px;">Color</th>
								<th class="text-left" style="width: 35px;">Size</th>
								<th class="text-right" style="width: 71px;">Price</th>
								<th class="text-right" style="width: 114px;">Target Sales</th>
								<th class="text-right" style="width: 66px;">Sales Count</th>
								<th class="text-right" style="width: 111px;">Total Sales</th>
							</tr>
						</thead>
						<tbody>
							{{! If total sales greater than target: #b3ffb2 }}
							{{! If total sales less than 25% target: #ffa7a7 }}
							{{#each salesRow}}
								{{> salesreprow}}
							{{/each}}
						</tbody>
					</table>
				</div>

				<span class="d-xl-flex justify-content-xl-center">END OF REPORT</span>
			</div>
		</div>
	</div>
</div>
