<div>
	POST Request
	<form method="POST" action="/test">
		<input type="text" name="a" /><br>
		<input type="submit" />
	</form>
</div>
<br>
<div>
	GET Query
	<form method="GET" action="/test">
		<input type="date" name="start" />START<br>
		<input type="date" name="end" />END<br>
		<input type="number" name="numstart" />NUMSTART<br>
		<input type="number" name="numend" />NUMEND<br>
		<input type="submit" />
	</form>
</div>
